#email {
  padding: 50px 50px;
  border: 2px solid 
#cdb4db;
width: 500px;
margin-top: 50px;
box-sizing: border-box;
}

#confidential{
padding:7px;
border: 5px solid #ff002b;
margin-left: 200px; 
transform: rotate(45deg);
width:130px;
font-family: cursive;
font-size: 16px;
color: #ff002b;
display: inline-block;
}

#top-secret{
padding: 5px;
border: 5px solid #ff002b;
margin-left: 150px;
transform: rotate(-30deg);
width:140px;
height: 50px;
font-family: cursive;
font-size: 16px;
color: #ff002b;
display: inline-block;
}

.blurred {
  filter: blur(3px);
}