#nav-bar {
  grid-area: nav-bar;
}

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  z-index: 1000;
}

@media (max-width: 600px) {
  #nav-bar {
    font-size: 14px;
    padding: 8px;
  }

  .grid-container {
    grid-template-columns: 1fr; /* Stack items vertically */
  }
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #f4f4f4;
}