html {
font-size: 24px;
}

.newspaper {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.name {
  font-size: 2rem;
  font-family: 'Times New Roman', serif;
  text-transform: uppercase;
  display: flex;
            justify-content: center;
            align-items: center;       margin: 0;
}

.author {
  text-transform: uppercase;
  font-weight: bold;
}

.headline {
  font-size: 2em;
  font-weight: bold;
  display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
}

.sub-headline {
  font-weight: 100;
  font-size: 1.5em;
  font-style: italic;
}

.text {
  text-indent: 20px;
  line-height: 2em;
}

.text::first-letter {

  font-weight: bold;
  font-size: 2em;
}