body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e3d58;
}

.space {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #003f5c;
}

.earth {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #43b0f1;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.orbit {
  width: 200px;
  height: 200px;
  position: absolute;
  transform: translate(-50%, -50%);
  animation: orbit 5s linear infinite;
}

.moon {
  width: 30px;
  height: 30px;
  background-color: #ced3d7;
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  border-radius: 50%;
  
}

@keyframes orbit {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  100% {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}